@import "~bootstrap/scss/bootstrap";

:root {
  --zoom: 0.5;
}

html,
body {
  margin: 0;
  padding: 0;
}

label {
  color: #777;
}

#backgroundVideo {
  width: calc(100vw / var(--zoom));
  height: calc(100vh / var(--zoom));
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(25%);
}

a {
  color: #fff;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-color: #333;
}

#container {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.container {
  color: #fff;
  overflow: hidden;
  padding: 16px;
}

.col-md-6 > .d-flex {
  flex-wrap: wrap;
}

.carousel-inner {
  border-radius: 8px;
}

* {
  font-family: sans-serif;
}

footer {
  width: 100%;
  background: #fff;
  border-radius: 8px 8px 0 0 !important;
}

.favoritesImg {
  height: 128px;
  width: 96px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-icon {
  height: 32px;
  width: 32px;
}

button,
input {
  border-radius: 8px !important;
}

.ico {
  filter: invert(1);
  height: 18px;
  padding: 0 8px;
}

.score {
  position: absolute;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  font-weight: 900;
  font-size: 18px;
}

.card,
.accordion-item {
  border: none;
}

.card:hover {
  box-shadow: 0 0 8px #198754 !important;
}

.card:active {
  box-shadow: none !important;
}

.card img {
  border-radius: 8px !important;
}

.card-body {
  bottom: 0;
  position: absolute;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 100%;
  color: #fff;
  font-weight: 900;
  -webkit-text-stroke: 0.5px #333;
}

.card-body h5 {
  font-weight: 900;
}

.accordion-button {
  background: none !important;
  border-radius: 0 !important;
}

#container {
  margin: 46px auto 60px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1088px;
  min-height: 100%;
}

section {
  width: 100%;
  max-width: 1072px;
}

.table-wrap {
  width: 100%;
  max-width: 992px;
}

#output video {
  width: 1200px;
  max-width: 100%;
}
#progressBar {
  height: 5px;
  width: 0%;
  background-color: #35b44f;
  transition: width 0.4s ease-in-out;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
  padding: 4px 0;
}

.trailerIframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: -6px;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}
